h1 {
    background-color:rgb(226, 223, 224);
    text-align: center;

}

body {
  background-color:rgb(255, 255, 255);
}


#p1 {
    color: rgb(2, 2, 2);
    font-style:normal;
    text-decoration: underline;
    font-size:large;
}
#div1 { border: 3px solid black;
    background-color: rgb(233, 233, 233); 
    width: 13.5%;


}

#pagehead {
    margin-left: 5%;
  
}
#lable1 {
    margin-left: 55px;

}
#random {
    border: 2px solid lavenderblush;
    box-sizing: border-box;
    text-align: center;
}
#button1 {
    margin-left: 45px;
}
